<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myinsta.css') }}">
</head>

<body>
    <section class="menu">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}"
                            {% if active_page == "Home" %}class="active"{% endif %}>
                            Home
                            </a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('profile') }}"
                            {% if active_page == "Profile" %}class="active"{% endif %}>
                            Profile
                            </a>
                        </li>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}"
                            {% if active_page == "Login" %}class="active"{% endif %}>
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('signup') }}"
                            {% if active_page == "Signup" %}class="active"{% endif %}>
                                Sign Up
                            </a>
                        </li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('show_users') }}"
                            {% if active_page == "Users" %}class="active"{% endif %}>
                                Users
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if current_user.is_authenticated %}
                        Hi, {{ current_user.username -}}!
                    <div class="nav-item">
                        <a class="nav-link d-flex" id="left-navbar" href="{{ url_for('logout') }}"
                           {% if active_page == "Logout" %}class="active"{% endif %}>Logout</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="body">
            <div class="container">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>