{% extends "base.html" %}

{% set title = "Board" %}
{% set active_page = "Board" %}


{% block content %}


    <div>
        <h3 >Hello {{ user.username }}!</h3>
        {% set unr=user.unread_messages_count() %}
        {% set sent_text_count, sent_text_size = user.messages_sent("text") %}
        {% set sent_other_count, sent_other_size = user.messages_sent("image") %}
        {% set received_messages_count, received_messages_size = user.messages_received() %}
    </div>



    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">

    <div class="alert alert-{% if unr>0 %}warning{% else %}info{% endif %}">
        You have {{ unr }} unread message{% if unr>1 %}s{% endif %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-blue order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Messages sent: </h6>
                        <h2 class="text-right"><i class="fa fa-send f-left"></i><span>&nbsp;{{ sent_text_count }}</span></h2>
                        <p class="m-b-0">Size on server: <span class="f-right">{{ sent_text_size }}</span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Images and files sent: </h6>
                        <h2 class="text-right"><i class="fa fa-files-o f-left"></i><span>&nbsp;{{ sent_other_count }}</span></h2>
                        <p class="m-b-0">Size on server:<span class="f-right">{{ sent_other_size }}</span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Messages and files received:</h6>
                        <h2 class="text-right"><i class="fa fa-download f-left"></i><span>&nbsp;{{ received_messages_count }}</span></h2>
                        <p class="m-b-0">Size on server:<span class="f-right">{{ received_messages_size }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}