{% extends "base.html" %}

{% set title = "Board" %}
{% set active_page = "Board" %}


{% block content %}

    <div>
        <h3 >Hello {{ user.username }}!</h3>
        {% set unr=user.unread_messages_count() %}
        <p>You have {{ unr }} unread message{% if unr>1 %}s{% endif %}</p>
    </div>
    <div>
        <p>{{ user.messages_sent_count("text") }} messages sent / ( user.messages.size ) Mb</p>
        <p>{{ user.messages_sent_count("image") + user.messages_sent_count("file") + user.messages_sent_count("removed")}} images and files sent / ( user.files.size ) Mb</p>
        <p>{{ user.messages_received_count() }} messages and files received / ( user.receivedData.size ) Mb</p>
    </div>

{% endblock %}