{% extends "base.html" %}

{% block content %}
    <head>  <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}"> </head>




        {% for message in messages %}
            <div class="bubbleWrapper">
            <div class="inlineContainer">
            {% if message.sender_username == interlocutor.username %}<img class="inlineIcon" src="{{ interlocutor.avatar(64) }}">{% endif %}

                <div class="otherBubble other">
                    User: {{ message.sender_username}}<br>
                    {{ message.body }}
                </div>
            </div>
            </div>
        {% endfor %}



{% endblock %}