{% extends "base.html" %}

{% block content %}
    <head>  <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}"> </head>




        {% for message in messages %}
            <div class="bubbleWrapper">
            <div class="inlineContainer">
            {% if message.sender_username == interlocutor.username %}<td><img class="inlineIcon" src="{{ interlocutor.avatar(20) }}"></td>{% endif %}

                <div class="otherBubble other">
                    <td>User: {{ message.sender_username.username }}</td>
                    <td>{{ message.body }} </td>
                </div>
            </div>
            </div>
        {% endfor %}



{% endblock %}