{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">


    <div class="row m-l-0 m-r-0">
        <div class="col-sm-4 bg-c-lite-green user-profile">
            <div class="card-block text-center text-white">
                <div class="m-b-25"> <img src={{ url_for('static-',filename=user.get_avatar()) }} class="img-radius" alt="User-Profile-Image" width="128"> </div>
                <h4 class="f-w-600">{{ user.username}}</h4>
                <a type="button" class="btn btn-light" href="{{ url_for('edit_profile') }}">edit your profile</a> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Email</p>
                        <h6 class="text-muted f-w-400">{{ user.email}}</h6>
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Last seen on</p>
                        <h6 class="text-muted f-w-400">{{ user.last_seen.strftime('%Y-%m-%d %H:%M')}}</h6>
                    </div>
                </div>

                <div>
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">About me</h6>
                    {% if user.about_me != None %}
                    {{ user.about_me }}
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
{% endblock %}